body {
    width: 100%;
    max-width: 65rem;
    font-family: "Baskervville", serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
}
main {
    margin-left: 5%;
}
nav.top {
    display: block;
    margin: 0 0 0 8%;
    width: 51em;
    border: 1px solid #f2faff;
    height: 3rem;
    padding: 2px 2px 2px 2rem;
    background: #FFFFFF;
}
ul.navTop > li {
    float: left;
    padding-right: 5rem;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.titlePage {
    display: block;
    text-align: center;
    background-color: #faf0d2;
    height: 14rem;
    width: 51.5rem;
    padding: 1rem;
    margin: 3%;
}
.titlePage h1 {
    width: 52rem;
    text-align: left;
    margin-left: -7rem;
}
.titlePage h2 {
    width: 50rem;
    text-align: center;
    margin-left: -7rem;
}
.titlePage h3 {
    width: 50rem;
    text-align: center;
    margin-left: -7rem;
}
.titlePage h4 {
    font-size: 18px;
    margin-bottom: 0;
}
.edParts {
    width: 75%;
    margin-left: 12%;
    clear: both;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
}
p.part {
    padding: 1rem;
    background: #FFFFFF;
    margin-bottom: 0;
}
nav.bottom {
    position: relative;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 53rem;
    height: 3rem;
    display: block;
    border: 1px solid #f2faff;
    background: #FFFFFF;
}
ul.navBottom > li {
    float: left;
    margin-left: .8rem;
    padding-right: 1.5rem;
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.space {
    width: 2rem;
    display: inline;
}
a {
    font-weight: bold;
    text-decoration: none;
	color: #00347d;
}
a:hover {
    color: #356FC0;
}
a:visited {
    color: #36619e;
    }
a:visited:hover {
    color: #356FC0;
}
/* Old
            a {
               color: #1A4B75;
               text-decoration: none;
               font-weight: 600;
           }
            a:hover {
                color: #181433;
                text-decoration: underline;
            }
            a:visited {
                color: #383175;
                font-weight: 600;
                text-decoration: none;
            }
            a:visited:hover {
                color: #181433;
                text-decoration: underline;
            }
             */
