
* {box-sizing: border-box;}
            
body {
    width: 100%;
    max-width: 65rem;
    background-image: url(../images/banner2.png);
    background-repeat: no-repeat;
    font-family: "Baskervville", serif;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

/* Navigation, courtesy of ChatGPT, with additions and adjustments */
.navTitle {
    display: block; 
    margin-top: 0; 
    margin-left: 2rem; 
    text-align: center; 
    background-color: #faf0d2; 
    padding: 6px 20px; 
    float: left;
}
.homePlink {
    margin-left: 96%;
    width: 150px;
    display: block;
}
img.homeButton {
    height: 50px;
    width: 55px;
}
nav {
    width: 100%;
	font-size: 1em;
	line-height: 1.2em;
    color: #000;
    font-weight: bold;
    display: block;
    position: relative;
}
ul.nav {
    margin-top: 3%;
    display: block;
    background-color: #faf0d2;
    margin-left: -0.5rem;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 10px;
    padding-left: 4px;
    width: 103%;
    text-align: right;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
}
li.nav {
    list-style-type: none; 
    display: inline-block;
    position: relative;
    padding-right: 20px;
}
li.nav:hover {background-color: #f0e3bb;}
a {
    font-weight: bold;
    text-decoration: none;
	color: #00347d;
}
a:hover {
    color: #356FC0;
}
a:visited {
    color: #36619e;
    }
a:visited:hover {
    color: #356FC0;
}
.drop {
    text-decoration: none;
    color: #00347d;
}
.drop:hover {
    text-decoration: none;
	color: #356FC0;
}
.dropdown {
    display: none;
    position: absolute;
    top: 1.2rem;
    left: 1rem;
    background-color: #faf0d2;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 10rem;
    list-style-type: none;
}
ul.dropdown li {
  display: list-item;
  font-size: 90%;
}

ul.dropdown li a {
  padding: 6px;
  width: 300px;
}

ul.dropdown li a:hover {
  background-color: white;
}

/* Show the dropdown menu on hover */
li.nav:hover > ul {
  display: block;
}
/* end nav */
main {
    margin-left: 5%;
    background-color: #faf0d2;
    padding: 20px;
}
div.letList, div.appMain {
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    padding: 2% 8%;
}



ul {
    list-style-type: none;
}

/* for xslt, make div=paratext / table xml:id "chrono" and remove attributes, then
 * first cell containing width="130" gets rend colDate and second cell width="610" gets rend colEvent. 
 * There is an empty row-cell-cell-closeRow between each entry*/

#chrono {
    width: 740px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

td.colDate {
    width: 130px;
}

td.colEvent {
    width: 610px;
}

tr.rowSpace {
    
}


.title {
    font-style: italic;
}
